[submodule "deps/crucible"]
	path = deps/crucible
	url = git@github.com:GaloisInc/crucible.git
[submodule "deps/dwarf"]
	path = deps/dwarf
	url = git@github.com:GaloisInc/dwarf.git
[submodule "deps/elf-edit"]
	path = deps/elf-edit
	url = git@github.com:GaloisInc/elf-edit.git
[submodule "deps/flexdis86"]
	path = deps/flexdis86
	url = git@github.com:GaloisInc/flexdis86.git
[submodule "deps/llvm-pretty"]
	path = deps/llvm-pretty
	url = git@github.com:elliottt/llvm-pretty.git
[submodule "deps/llvm-pretty-bc-parser"]
	path = deps/llvm-pretty-bc-parser
	url = git@github.com:GaloisInc/llvm-pretty-bc-parser.git
[submodule "deps/macaw"]
	path = deps/macaw
	url = git@github.com:GaloisInc/macaw.git
[submodule "deps/parameterized-utils"]
	path = deps/parameterized-utils
	url = git@github.com:GaloisInc/parameterized-utils.git
