[submodule "deps/macaw"]
	path = deps/macaw
	url = https://github.com/GaloisInc/macaw.git
[submodule "deps/parameterized-utils"]
	path = deps/parameterized-utils
	url = https://github.com/GaloisInc/parameterized-utils.git
[submodule "deps/dwarf"]
	path = deps/dwarf
	url = https://github.com/GaloisInc/dwarf.git
[submodule "deps/elf-edit"]
	path = deps/elf-edit
	url = https://github.com/GaloisInc/elf-edit.git
[submodule "deps/flexdis86"]
	path = deps/flexdis86
	url = https://github.com/GaloisInc/flexdis86.git
